.inputBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: left;
    margin-right: 40px;
}
.input-title {
width: 50%;
height: 60px !important;
border-radius: 10px !important;
}
.input-content {
width: 50%;
border-radius: 10px !important;
background-color: black !important;
}
.textFieldWidth {
    width: 635px;
}
.price {
    max-width: 20%;
}
.selectBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.formControl {
    width: 50%;
}
.select div {
    font-family: 'VK Sans Display' !important;
    color:  rgb(0,0,0,0.7) !important;
}
.select fieldset {
    border: none !important;
}
.disabledSelect div {
background-color: rgb(243, 243, 243) !important;
}
.specificationBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 635px;
}
.btnAddSpecification {
    max-width: 100%;
}
.specificationInputBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.specificationInput {
    width: 50%;
}
.btnDelete {
    border-radius: 10px !important;
    max-width: 65px;
}
.fileLabel {
    width: 635px;
}
.btnFile {
    width: 635px;
    height: 56px;
    color: rgba(0, 0, 0, 0.6) !important;
    border-radius: 10px;
    font-size: 16px !important;
    background-color: rgb(249, 249, 249) !important;
}
.btnHover:hover {
    background-color: rgb(242, 242, 242) !important
}
.btnSubmit {
    width: 635px;
    height: 56px;
    align-self: flex-start;
    color: white !important;
    border-radius: 10px !important;
    font-size: 16px !important;
    font-family: 'VK Sans Display' !important;
    background-color: rgba(78, 54, 226, 0.6) !important;
}
.btnSubmit:hover {
    background-color: rgba(78, 54, 226, 0.87) !important;
}
.clickableWord {
    transition: all 0.15s;
}
.clickableWord:hover {
    color: black;
    cursor: pointer;
}

@media screen and (max-width:1141px) {
    .textFieldWidth {
        width: 106%;
    }
    .fileLabel {
        width: 106%;
    }
    .btnFile {
        width: 100%;
        height: 56px;
        color: rgba(0, 0, 0, 0.6) !important;
        border-radius: 10px !important;
        font-size: 16px !important;
        background-color: rgb(249, 249, 249) !important;
    }
    .btnSubmit {
        width: 106%;
        height: 56px;
        align-self: flex-start;
        color: white !important;
        border-radius: 10px !important;
        font-size: 16px !important;
        font-family: 'VK Sans Display' !important;
        background-color: rgba(78, 54, 226, 0.6) !important;
    }
}
@media screen and (max-width:1000px) {
    .textFieldWidth {
        width: 105%;
    }
    .fileLabel {
        width: 105%;
    }
    .btnFile {
        width: 100%;
    }
    .btnSubmit {
        width: 105%;
    }
}
@media screen and (max-width:550px) {
    .inputBox {
        margin-left: -5px;
    }
    .textFieldWidth {
        width: 112%;
    }
    .fileLabel {
        width: 112%;
    }
    .btnFile {
        width: 100%;
    }
    .btnSubmit {
        width: 112%;
    }
}
@media screen and (max-width:450px) {
    .inputBox {
        margin-left: -15px;
        max-width: 87%;
    }
    .textFieldWidth {
        width: 135%;
    }
    .fileLabel {
        width: 135%;
    }
    .btnFile {
        width: 100%;
    }
    .btnSubmit {
        width: 135%;
    }
}