.inputBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: left;
    max-width: 800px;
}
.input-title {
width: 50%;
height: 60px !important;
border-radius: 10px !important;
}
.input-content {
width: 50%;
border-radius: 10px !important;
background-color: black !important;
}
.textFieldWidth {
    width: 800px;
}
.price {
    max-width: 20%;
}
.selectBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.formControl {
    width: 50%;
}
.select div {
    font-family: 'VK Sans Display' !important;
    color:  rgb(0,0,0,0.7) !important;
}
.select fieldset {
    border: none !important;
}
.disabledSelect div {
background-color: rgb(243, 243, 243) !important;
}
.specificationBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 800px;
}
.btnAddSpecification {
    max-width: 100%;
}
.specificationInputBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.specificationInput {
    width: 100%;
}
.btnDelete {
    border-radius: 10px !important;
    min-width: 60px;
    background-color: rgb(249, 249, 249);
}
.fileLabel {
    width: 635px;
}
.btnFile {
    width: 800px;
    height: 56px;
    color: rgba(0, 0, 0, 0.6) !important;
    border-radius: 10px;
    font-size: 16px !important;
    background-color: rgb(240, 240, 240) !important;
}
.btnFile:hover {
    background-color: rgb(235, 235, 235) !important;
}
.btnStyle {
    width: 800px;
    height: 56px;
    color: rgba(0, 0, 0, 0.6) !important;
    border-radius: 10px;
    font-size: 16px !important;
    background-color: rgb(249, 249, 249) !important;
}
.btnHover:hover {
    background-color: rgb(242, 242, 242) !important
}
.btnSubmit {
    width: 800px;
    height: 56px;
    align-self: flex-start;
    color: white !important;
    border-radius: 10px !important;
    font-size: 16px !important;
    font-family: 'VK Sans Display' !important;
    background-color: rgba(78, 54, 226, 0.6) !important;
}
.btnSubmit:hover {
    background-color: rgba(78, 54, 226, 0.87) !important;
}
.clickableWord {
    transition: all 0.15s;
}
.clickableWord:hover {
    color: black;
    cursor: pointer;
}
@media screen and (max-width:1274px) {
    .inputBox {
        min-width: 100%;
    }
    .specificationInputBox {
        width: calc(85% + 2px);
    }
    .specificationBox {
        width: 100%;
    }
    .btnStyle {
        width: 100%;
    }
    .specificationInputBox {
        width: 100%;
    }
    .fileLabel {
        width: 100%;
    }
    .btnFile {
        width: 100%;
    }
    .btnSubmit {
        min-width: 100%;
    }
}
@media screen and (max-width:1100px) {
    .inputBox {
        width: 85%;
    }
    .specificationBox {
        width: 100%;
    }
    .specificationInputBox {
        width: 100%;
    }
    .fileLabel {
        width: 100%;
    }
    .btnFile {
        width: 100%;
    }
    .btnSubmit {
        width: 100%;
    }
}
@media screen and (max-width:610px) {
    .specificationInputBox {
        width: 100%;
    }
    .specificationBox {
        width: 100%;
    }
    .fileLabel {
        width: 95%;
    }
    .btnFile {
        width: 105%;
    }
    .btnSubmit {
        width: 100%;
    }
}
@media screen and (max-width:515px) {
    .formControl label {
        font-size: 13px !important;
    }
    .specificationInput label {
        font-size: 13px !important;
    }
}
@media screen and (max-width:450px) {
    .inputBox {
        max-width: 87%;
    }
    .textFieldWidth {
        width: 100%;
    }
    .fileLabel {
        width: 100%;
    }
    .btnFile {
        width: 100%;
    }
    .btnSubmit {
        width: 100%;
    }
    .selectBox {
        flex-wrap: wrap;
    }
    .formControl {
        width: calc(48% + 1px);
    }
    .price {
        max-width: 100% !important;
    }
    .btnStyle {
        font-size: 13px !important;
    }
}